*,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

body {
    min-height: 100%;
    background-color: #242424;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;

}

.calculator-container {
    background-color: #484848;
    width: 30rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    border-radius: 8px;
}

.display {
    background-color: #c4c4c4;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    font-size: 4rem;
    border-radius: 8px;
}

.operating-display {
    color: #777777;
    font-size: 2rem;
}

.calculator-container > div { /* button rows */
    flex: 1;
    display: flex;
    gap: 5px;
}

.calculator-container > div > .numBtn {
    background-color: #322653;
    color: #FFD2D7;
}

.calculator-container > div > .equals-button {
    background-color: #FFD2D7;
}

.calculator-container > div > .clear-button,
.calculator-container > div > .delete-button {
    background-color: #9288F8;
    font-weight: 300;
}

.calculator-container > div > button { /* buttons */
    background-color: #8062D6;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 8px;
}

.footer-text {
    color: #c4c4c4;
    font-size: 1.5rem;
}