*,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

body {
    min-height: 100%;
    background-color: #242424;
    display: flex;
    justify-content: center;
    align-items: center;

}

.calculator-container {
    background-color: #484848;
    width: 30rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
}

.display {
    background-color: #c4c4c4;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    font-size: 4rem;
}

.operating-display {
    color: #777777;
    font-size: 2rem;
}

.calculator-container > div { /* button rows */
    flex: 1;
    display: flex;
    gap: 5px;
}


.calculator-container > div > button { /* buttons */
    background-color: #724C9D;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}